:root {
    // Text Colors
    --text-color-1: #3c005b;
    --text-color-2: #707070;

    // Colors
    --color-primary: #972fff;

    // Font-sizes
    --font-size-1: 48px;
    --font-size-2: 40px;
    --font-size-3: 32px;
    --font-size-4: 24px;
    --font-size-5: 16px;
    --font-size-6: 8px;

    // General styles
    --container: 600px;
    
    // @media (max-width: 700px) {
    //     --font-size-1: calc( var(--font-size-1) -8 );
    //     --font-size-2: calc( var(--font-size-2) -8 );
    //     --font-size-3: calc( var(--font-size-3) -8 );
    //     --font-size-4: calc( var(--font-size-4) -8 );
    //     --font-size-5: calc( var(--font-size-5) -8 );
    //     --font-size-6: calc( var(--font-size-6) -8 );
    // }
}

// @media (min-width: 700px) {
//     :root {
//         --font-size-1: 60px;
//         --font-size-2: 60px;
//         --font-size-3: 60px;
//         --font-size-4: 60px;
//         --font-size-5: 60px;
//         --font-size-6: 60px;
//     }
// }

// SCSS variables = root variables
$color-primary: var(--color-primary);