:root {
    // Text Colors
    --text-color-1: #f7f7f7;
    --text-color-2: #4c4c4c;

    // Colors
    --color-primary: #353535;
    --color-secondary: cyan;
    --color-secondary: purple;

    // Font-sizes
    --font-size-1: 3rem;
    --font-size-2: 2.5rem;
    --font-size-3: 2rem;
    --font-size-4: 1.5rem;
    --font-size-5: 1rem;
    --font-size-6: .5rem;

    // General styles
    --container: 50rem;

    @media (max-width: 43.75rem) {
        --font-size-4: 1.25rem;
    }
}

// @media (min-width: 43.75rem) {
//     :root {
//         --font-size-1: 3.75rem;
//         --font-size-2: 3.75rem;
//         --font-size-3: 3.75rem;
//         --font-size-4: 3.75rem;
//         --font-size-5: 3.75rem;
//         --font-size-6: 3.75rem;
//     }
// }

// SCSS variables = root variables
$color-primary: var(--color-primary);