.home {
  height: 100vh;
  color: var(--text-color-1);
  padding-top: 11.25rem;

  @media screen and (min-width: 48rem) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0;
  }

  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
    background-color: #fff;
    background-image: radial-gradient(rgb(220 220 220 / 74%) .0313rem, #ffffff .0313rem);
    background-size: .625rem .625rem;
  }

  &__info {
    padding: 0 1.25rem;
    max-width: 37.5rem;
    position: relative;

    @media screen and (min-width: 48rem) {
      text-align: center;
    }

    &__about-me {
      opacity: 0;
      animation: fadeIn .3s .2s ease-in-out forwards;
    }


    &__brackets {
      position: absolute;
      inset: 0;
      pointer-events: none;

      @media screen and (max-width: 48rem) {
        display: none;
      }

      svg {
        height: 100%;
        position: absolute;
        top: 0;
      }

      .icon-bracket-open {
        right: 90%;
        transform: translateX(13.75rem);
        animation: bracketAnimation .6s ease-in-out forwards;
      }

      .icon-bracket-close {
        left: 90%;
        transform: translateX(-13.75rem);
        animation: bracketAnimation .6s ease-in-out forwards;
      }
    }
  }

  &__social-networks {
    padding-top: 2.5rem;
    padding-bottom: 1.875rem;
    opacity: 0;
    animation: fadeIn .3s .4s ease-in-out forwards;

    @media screen and (min-width: 48rem) {
      position: absolute;
      bottom: 3.125rem;
      right: 3.125rem;
      text-align: center;
      padding-bottom: 0;
    }

    img {
      padding-left: 1.25rem;
      height: 1.25rem;

      &:hover {
        opacity: .8;
      }
    }
  }

  &__time {
    color: var(--text-color-1);
    padding-top: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4.25rem;

    @include for-phone-only {
      justify-content: flex-start;
    }


    &__date-location {
      font-size: 1rem;
      opacity: .6;

      &:nth-child(1) {
        font-variant: tabular-nums;
      }
    }

    &__blinker {
      width: .25rem;
      height: 1.375rem;
      background-color: #fff;
      display: inline-block;
      opacity: .6;
      animation: fadeIn .5s ease-in-out alternate infinite;
    }
  }

  h2 {
    font-size: var(--font-size-3);

    @media screen and (max-width: 47.9375rem) {
      line-height: 2.1875rem;
    }
  }

  h1 {
    font-weight: bold;
    line-height: 2.8125rem;

    @media screen and (max-width: 47.9375rem) {
      padding-top: 1.25rem;
      line-height: 3.125rem;
    }
  }

  p {
    font-size: var(--font-size-5);
    padding-top: 1.875rem;
    line-height: 2.375rem;

    strong {
      font-weight: bold;
    }
  }
}

@keyframes bracketAnimation {
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}