// Companies
.work {
	height: 100vh;

	&__container {
		width: 100%;
		max-width: var(--container);
		margin: 0 auto;
		padding: 12.5rem 1.25rem 3.125rem 1.25rem;

		@media screen and (max-width: 37.5rem) {
			padding-top: 9rem;
		}
	}

	&__title {
		color: var(--text-color-1);
		padding-bottom: 2.5rem;
		font-weight: 600;
		opacity: 0;
		animation: fadeIn .6s ease-in-out forwards;

		&--fun-projects {
			animation: fadeIn .6s .8s ease-in-out forwards;
		}
	}

	&__worked-for {
		background-image: radial-gradient(rgb(220 220 220 / 74%) 0.5px, #ffffff 0.5px);
		background-size: 10px 10px;
		background-attachment: fixed;
		box-shadow: .375rem .1875rem 1.5rem 0 #3c005b1a;
		border-radius: .3125rem;
		width: 100%;
		min-height: 12.5rem;
		padding: 2.5rem;
		margin-bottom: 2.125rem;
		display: flex;
		align-items: center;
		position: relative;
		overflow: hidden;
		opacity: 0;
		transform: translateY(1.25rem) scale(0.9);
		transform-origin: bottom center;

		@include for-phone-only {
			padding: 2rem;
		}

		&:nth-child(2) {
			animation: fadeUp .6s .2s ease-out forwards;
		}

		&:nth-child(3) {
			animation: fadeUp .6s .4s ease-out forwards;
		}

		&:nth-child(4) {
			animation: fadeUp .6s .6s ease-out forwards;
		}

		&:nth-child(6) {
			animation: fadeUp .6s .8s ease-out forwards;
		}

		&:nth-child(7) {
			animation: fadeUp .6s 1s ease-out forwards;
		}

		&::before {
			content: '';
			position: absolute;
			width: 50%;
			height: 200%;
			bottom: 0;
			left: 50%;
			background-color: var(--color-secondary);
			transform: rotate(20deg);
			transform-origin: bottom left;

			@media screen and (max-width: 48rem) {
				transform: rotate(65deg);
			}
		}

		&--space {
			margin-bottom: 3.75rem;
		}

		div {
			flex: 1;
		}

		&__info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			height: 100%;
			min-width: 60%;
			position: relative;
			padding-right: 1.625rem;

			h4 {
				padding-top: .5rem;
				font-weight: 600;
			}

			p {
				color: var(--text-color-2);
				font-size: .75rem;
				line-height: 1rem;
				margin: .625rem 0 1.125rem 0;
			}

			span {
				padding-bottom: .625rem;
				display: inline-block;
				margin-bottom: .375rem;
			}
		}

		&__logo {
			@include center;

			@include for-phone-only {
				display: none;
			}

			img {
				opacity: .8;
				height: 4.375rem;
				max-width: 4.375rem;
			}
		}
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

@keyframes fadeUp {
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}