.btn {
	border: 1px solid transparent;
	display: inline-block;
	padding: 14px;
	transition: .2s;
	border: 1px solid transparent;

	&--primary {
		background-color: var(--color-secondary);
		color: #fff;
		text-decoration: none;

		&--active,
		&:hover {
			color: var(--text-color-2);
			background-color: #fff;
			border-color: var(--text-color-1);
			border-color: var(--color-secondary);
		}
	}
}