body {
    background-image: url('~@/assets/images/illustrations/blob-scene-haikei-2-1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}