body {
  position: relative;
  background-color: #000;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: monospace;

  &::before {
    content: '';
    background-image: url('@/assets/images/illustrations/cyberpunk-1.svg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #fff;
    position: fixed;
    display: block;
    inset: 0;
    overflow-y: scroll;
    opacity: 0.2;
    overflow: hidden;

  }

}

.background {
  &__overlay-bg {
    width: 200px;
    height: 200px;
    top: -200px;
    left: -200px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;

    @include for-phone-only {
      display: none;
    }

    &::after {
      content: '';
      display: block;
      background-image: url('@/assets/images/illustrations/cyberpunk-mini.webp');
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      width: inherit;
      height: inherit;

    }
  }
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: purple;
}