.navigation {
	position: fixed;
	top: 50px;
	right: 50px;

	ul {
		display: flex;

		li {

			a {
				color: var(--text-color-1);
				text-decoration: none;
				padding: 10px 20px;
				transition: .3s;
				border-radius: 4px;

				&:hover,
				&.router-link-exact-active {
					box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.1%);
					border-color: none;
				}
			}
		}
	}
}