.navigation {
	position: fixed;
	top: 3.125rem;
	right: 3.125rem;
	transition: .2s;

	@media screen and (max-width: 37.5rem) {
		right: auto;
		left: 0;
	}

	ul {
		display: flex;

		li {

			a {
				color: var(--text-color-1);
				text-decoration: none;
				padding: .625rem 1.25rem;
				transition: .3s;
				border-radius: .25rem;
				position: relative;


				&:hover,
				&.router-link-exact-active {
					box-shadow: 10px 10px 0 0 black;
				}
			}
		}
	}
}